.subhead{
    text-align: center;
    font-family: Arial;
    color: black;
   
}

body {
    background-image: url("pic/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

nav a{
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    margin: 100px 100px 100px 100px;
    background-color: deepskyblue;
    color: black;
    text-align: center;
}

nav a:hover{
    background-color: green;
    color:white;
}

nav a:active{
    background-color: black;
    color: white;
}

.content a img {
    margin: 70px 100px;
}

.content a img:hover{
    border: 3px solid yellow;
}

footer p{
    text-align: center;
    margin-top: 600px ;
    margin-bottom:10px;
}

footer p:hover{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.content p{
    margin: 15px 5px 100px 25px;
    padding-top: 100px;
    
    color: black;

}
.content h2 {
    color: black;
   margin-right: auto;
   margin-left: 4px:
   
}

